<div *ngIf="curVal !== undefined">
  <form ngDefaultControl>
    <div class="mb-1">
      <label for="editUserName" class="form-label">Name: </label>
      <input type="text" class="form-control form-control-sm" id="editUserName" [(ngModel)]="curVal0.name" name="edit1">
    </div>
    <div class="mb-1">
      <label for="editUserPassword" class="form-label">Quantity: </label>
      <input type="text" class="form-control form-control-sm" id="editUserPassword" name="edit2"
        [(ngModel)]="curVal0.quantity">
    </div>
    <div class="mb-1">
      <label for="editUserClass" class="form-label">Date Released: </label>
      <input type="text" class="form-control form-control-sm" id="editUserClass" name="edit3"
        [(ngModel)]="curVal0.date">
    </div>
    <p class="alert alert-info"><b>*Note:</b> Changes only occur after clicking the "Submit" button</p>
    <div class="mb-1">
      <button class="btn btn-secondary" (click)="curVal = undefined">Cancel</button>
      <button type="submit" class="btn btn-secondary" (click)="updateProduct()">Submit</button>
    </div>
  </form>
</div>
