<form >
  <div class="mb-1">
    <label for="addProductName" class="form-label">Name: </label>
    <input type="text" class="form-control form-control-sm" id="addProductName" name="a1" required [(ngModel)]="pname">
  </div>
  <div class="mb-1">
    <label for="addProductQuantity" class="form-label">Quantity: </label>
    <input type="text" class="form-control form-control-sm" id="addProductQuantity" name="a2" required
      [(ngModel)]="pquantity">
  </div>
  <div class="mb-1">
    <label for="addProductDate" class="form-label">Date Released: </label>
    <input type="date" class="form-control form-control-sm" id="addProductDate" name="a3" required [(ngModel)]="pdate">
  </div>
  <div class="mb-1">
    <button class="btn btn-secondary " (click)="curVal = undefined">Cancel</button>
    <button type="submit" class="btn btn-secondary" (click)="onAddProduct()">Submit</button>
  </div>
</form>
<p>Hello</p>
