<!-- <form  [formGroup]="addForm">
    <div class="mb-1" >
      <label for="addUserName" class="form-label">Name: </label> 
      <input type="text"  class="form-control form-control-sm" id="addUserName"  name="a1" formControlName="name1" required>
      <!-- <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger" >
        <div *ngIf="uname.errors?.required">
          Name is required.
        </div>
      </div> -->
<!-- </div>
<div class="mb-1">
  <label for="addUserPassword" class="form-label">Password: </label>
  <input type="password" class="form-control form-control-sm" id="addUserPassword" name="a2" formControlName="passw1"
    required>
</div>
<div class="mb-1">
  <label for="addUserClass" class="form-label">Class: </label>
  <input type="text" class="form-control form-control-sm" id="addUserClass" name="a3" formControlName="class1" required>
</div>
<div class="mb-1">
  <label for="addUseStatus" class="form-label">Status: </label>
  <select class="form-select form-select-sm" name="a4" formControlName="status1" required>
    <option value="active">Active</option>
    <option value="disabled">Disabled</option>
  </select>
</div>
<div class="mb-1">
  <button class="btn btn-secondary" (click)="offAddUser()">Cancel</button>
  <button type="submit" class="btn btn-secondary" (click)="onAdd()">Submit</button>
</div>
</form> --> 
<p>Hello</p>
